// Colors

$white: #FFFFFF;
$black: #010101;
$green: #66c2a5;
$blue: #3288bd;
$red: #d53e4f;
$yellow: #fdae61;

// Fonts

$sans: -apple-system, BlinkMacSystemFont, Roboto, Noto, "Segoe UI", Helvetica, "Helvetica Neue", sans-serif;
